<ng-container *ngIf="item">
  <h1>{{ item.brand | titlecase }} {{ item.reference }}</h1>
  <img src="{{imagePath}}{{item.imageURL}}">
  <p>price : {{item.price}}$</p>
  
  <table>
      <thead>
          <tr>
              <th colspan="2">technical characteristic</th>
          </tr>
      </thead>
    <tr *ngFor="let _spec of spec">
      <td>{{_spec.name}}</td>
      <td>{{_spec.value}}</td>
    </tr>
  </table>
  <br/>
  <button (click)="onAddToShoppingCart()">Add to shopping cart</button>
</ng-container>