<div class="topnav">
    <a class="left active" href="/">Home</a>
    
    <a class="right text" [routerLink]="['/shoppingcart']">
      <ng-container *ngIf="shoppingCartItemNumber > 0">
        <img src="../../assets/img/shoppingcart.png">
        <span id="badge">{{shoppingCartItemNumber}}</span>
      </ng-container>
      <ng-container *ngIf="shoppingCartItemNumber === 0">
        <img src="../../assets/img/shoppingcart.png">
      </ng-container>
    </a>
    <a class="right" *ngIf="sentence !== 'Welcome'" (click)="logout()">Déconnection</a>
    <a class="right" *ngIf="sentence === 'Welcome'" [routerLink]="['/login']">Login</a>
    <a class="right" *ngIf="sentence === 'Welcome'" [routerLink]="['/signup']">Signup</a>
    <a class="right">{{sentence}}</a>

  </div>