/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  height: 50px;
  /* Style the links inside the navigation bar */
  a {
    cursor: pointer;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the "active" element to highlight the current page */
  a.active {
    background-color: #2196F3;
    color: white;
  }

  /* Style the search box inside the navigation bar */
  img {
    border: none;
    margin-top: -8px;
    margin-right: 5px;
    font-size: 17px;
    width: 35px;
  }

  .right {
    height: 100%;
    padding-top: 16px;
    float: right;
  }

  #badge {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: red;
    padding: .3em;
    color: white;
    border-radius: 100%;
    line-height: .9em;
    font-size: 80%;
    text-align: center;
    min-width: 20px;

  }
  
}
