<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(this)">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password"/>
  </div>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
  <input type="submit" (click)="onSubmit()">
</form>

<a (click)="onSignup()">You don't have an account</a>