form {
  margin-bottom: 30px;
  div {
    margin: 10px;
  }

  label {
    margin-right: 20px;
  }
}

.error {
  color: red;
  padding-top: 20px;
  margin-top: 30px;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}