<ng-container *ngIf="items.length > 0; else emptyShoppingCart">
    <table>
        <tr *ngFor="let item of items; let i = index">
            <td>
                <img src="{{imagePath}}{{item.imageURL}}"/>
            </td>
            <td>
                <p>article: {{item.reference}}</p>
            </td>
            <td>
                <p>price: {{item.price}}</p>
            </td>
            <td>
                <img (click)="removeItem(i)" class="close" src="../../assets/img/close.png">
            </td>
        </tr>
    </table>

    <hr/>
    <p>prix total: {{totalPrice()}}</p>

    <button (click)="order()">Commander</button>
</ng-container>
<ng-template #emptyShoppingCart>
<h2 class="empty">Your shopping cart is empty</h2>
</ng-template>
