<h1>SignUp</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit(this)">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" />
  </div>

  <div>
    <label for="firstname">First name</label>
    <input type="text" id="firstname" formControlName="firstname" />
  </div>

  <div>
    <label for="lastname">Last name</label>
    <input type="text" id="lastname" formControlName="lastname" />
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password"/>
  </div>

  <div>
    <label for="password_again">Repeat your password</label>
    <input type="password" id="password_again" formControlName="password_again" />
  </div>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
  <input type="submit">
</form>


<a [routerLink]="['/login']">You already have an account</a>